[flake8]
max-line-length = 88
extend-ignore = E203, E266, E501, F541, E402
exclude =
    03-python-avancado-para-dados/aula-02/,
    03-python-avancado-para-dados/aula-03/,
    03-python-avancado-para-dados/aula-04/,
    03-python-avancado-para-dados/aula-05/
